.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px rgb(0 0 0 / 0.1);
  display: flex;
  flex-direction: column;
}

.imgContainer {
  position: relative;
}

.container img {
  border-radius: 5px 5px 0 0;
}

.container div,
.container p {
  background-color: inherit;
}

.container button {
  background-color: var(--main_btn_colour);
  margin: 5px;
  padding: 5px 20px;
  border-radius: 3px;
}

.container button:hover {
  background-color: var(--main_btn_colour2);
}

.desc_container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 45%;
}

.desc {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.desc h1 {
  font-size: 1.6rem;
}

.starsAndBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.starsAndBtn button {
  display: flex;
  align-items: center;
}

.starsAndBtn svg {
  background-color: inherit;
  margin-left: 10px;
  margin-right: -5px;
}
