.formContainer {
  max-width: 600px;
  width: 80%;
  min-height: 700px;
  margin-top: 100px;
  margin: 0 auto;
  border: 1px solid lightgray;
  padding: 25px 45px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ingredientAddBtn {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  border: 2px solid var(--main_btn_colour2);
  padding: 10px;
  border-radius: 5px;
}
.ingredientAddBtn svg {
  margin-left: 3px;
  height: 12px;
  color: rgb(98, 98, 98);
}

.submitBtn {
  background-color: var(--main_btn_colour);
  padding: 15px 10px;
  border-radius: 5px;
}
.ingredientsContainer {
  margin-top: 15px;
  margin-bottom: -15px;
}

.fileUploadContainer {
  margin: 10px 0 10px 0;
  padding: 10px 10px;
  border-radius: 5px;
}

.loadingBtnCtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.uploadBtn {
  padding: 10px;
  border-radius: 5px;
}

.inputLabel input {
  background-color: rgb(241, 241, 241);
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
